.site-header {
  padding: 20px 0;
  background-color: rgb(16, 151, 106);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
